@charset "UTF-8";
.markdown-body {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  color: rgba(46, 36, 36, 0.87);
  overflow-x: hidden;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.markdown-body h1 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
}
.markdown-body h1::before {
  content: '#';
  margin-right: 10px;
  color: #1976d2;
}
.markdown-body h2 {
  font-size: 28px;
  font-weight: 400;
  border-left: 5px solid #454545;
  margin-top: 20px;
  padding-left: 10px;
  transition: all 300ms ease-in-out;
}
.markdown-body h2:hover {
  border-color: #1976d2;
}
.markdown-body h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 15px;
  padding-bottom: 0;
}
.markdown-body h4 {
  font-size: 20px;
  font-weight: 500;
}
.markdown-body h5 {
  font-size: 16px;
}
.markdown-body h6 {
  margin-top: 5px;
}
.markdown-body p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
.markdown-body h2::first-letter:not(code),
.markdown-body h3::first-letter:not(code),
.markdown-body p::first-letter:not(code) {
  text-transform: capitalize;
}
.markdown-body em {
  text-emphasis: dot;
  text-emphasis-position: under;
}
.markdown-body img {
  display: block;
  margin: 0 auto !important;
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.markdown-body hr {
  position: relative;
  width: 98%;
  height: 1px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
  background-image: linear-gradient(to right, #ddd, #999, #ddd);
  overflow: visible;
}
.markdown-body hr::after {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 20px;
  background: white;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAADoklEQVRYR82XTYgcRRTHf2933Q1RjAa9eFO8JHoJ8RQVBQ2iBwXBET0YEUTXNVmNQtTpmeqaWV0XNRq/o4KoECSCEPSg4CF+BYUkIIiCoCJCPIhC/Ihh2Z0nVV27VnZnenumW9i6ddV7//frV69fVQurfMgq56NawFTPAU6QyomqXrw6wIZeyhCPebA5buNR+akKyGoAjd6BshthnYdSjqNcRVuOlIUsD2j0SuA94IwuMHdh5ZUykOUBXfSGbmKI54EtAeYIHSZoy5dl4JxvNYBOKdW1KE8BQ8AkVk6WhasWsAiN0TX9gveXQaPP+Aytpc4u+bMI06JNohsYYYYOR2lJWtS3OKDRfcAtQfgDoI6Vo4UCGb0OmAEuDvZvYmVbEd/igC3dzDz7gQu8sPA9kJDK27mBmjqBeLjTg90PDFOjWawFFQd06kZHEfaj3LAIpTRpSXsZ5E06zEYP9sDimnAApYaV2SLZG/wjMeqAkijwW4xQJ5Gf/ZzRC8OW3hiBTGGlURRswW55Bh/Ssxljrwew8l1PQaM14GngvGDzBUKdDsMeTtgU5o8B92PFlUf3YXUrHa7Fys6lBqcCGnX15YQ2A18FyPd7Crd1A3M8C1wdbH4DD3hWeP6IEXbQkG97ajR1HPFnuPP5jFFq1OWX7hl8WM9l1AO648uNfwLk7tytMeogty+xeQ4rO3r6bdcx1nuwOGsHmaXGtPzae4uzGnLH1kQkvpdZGrHjssBZJrL+pqS05KWc8tgITAPXRzYvYOXe/C2OV43eDcRBDtIhoS2f9wzc0Cv8Wls+zoFzUC5zF0U241h5uZtPfptp6OUM8wbK+cH5GEpCS17P3fJei0Z3+npTxryJ8CPzbKMtn/ZyWbkPGl0PuFPkmkjkcb4h4R2ZLwRq1H0ALmvjkf2HwK1Y+T1PY2XABe/sHJ6MxN5lnoSpnC/UGbsTaI5phK2R7x6s3Ffk5YoDOrWm3onwJHBmEP86bPmBrsGaenNoIdnxCH+gPEhLXi0Cl1VBvyPVLSh7gEuC62yAfOIUqabWEaaiucMIk6RyqJ+Q/QM69V26jjW86Gvov/EaoyT8zRCn+Xq7PVrbx0nuYUaO9wM3WAbjCE1NEUw09Um4UV+2OKfYfu5/S19gsAzGKqm6LE5FrShbdS0ku465DjDwKA/oQht19ejqbaEVuRbiLhuHByYLjtUAZpDutzP7cYdHsPJXWbjyNVgFwQoa1WXwf4Jd9YD/Ap80+yE7+u9aAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
}
.markdown-body code {
  font-weight: 900;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
  background-color: #fbe5e1;
  color: #c0341d;
}
.markdown-body pre {
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  line-height: 1.75;
}

.markdown-body pre > code {
  font-size: 12px;
  word-break: normal;
  display: block;
  flex: none;
  padding: 0 12px 12px 12px;
}
.markdown-body a {
  margin: 0 4px;
  text-decoration: none;
  color: #027fff;
  transition: all 300ms ease-in-out;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}
.markdown-body a::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 4px;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDIyIDIyIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjMDI3RkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiPgogICAgICAgIDxwYXRoIGQ9Ik05LjgxNSA2LjQ0OGwxLjkzNi0xLjkzNmMxLjMzNy0xLjMzNiAzLjU4LTEuMjU5IDUuMDEzLjE3MyAxLjQzMiAxLjQzMiAxLjUxIDMuNjc2LjE3MyA1LjAxM2wtMS40NTIgMS40NTItLjk2OC45NjhjLTEuMzM3IDEuMzM2LTMuNTgxIDEuMjU5LTUuMDEzLS4xNzMiLz4KICAgICAgICA8cGF0aCBkPSJNMTEuMjY3IDE1LjM2N2wtMS45MzYgMS45MzZjLTEuMzM2IDEuMzM3LTMuNTggMS4yNi01LjAxMi0uMTczLTEuNDMyLTEuNDMyLTEuNTEtMy42NzYtLjE3My01LjAxMmwxLjQ1Mi0xLjQ1Mi45NjgtLjk2OGMxLjMzNi0xLjMzNyAzLjU4LTEuMjYgNS4wMTIuMTczIi8+CiAgICA8L2c+Cjwvc3ZnPgo=);
  background-size: cover;
  background-repeat: no-repeat;
}
.markdown-body a:hover {
  border-color: #027fff;
}
.markdown-body a:hover,
.markdown-body a:active {
  color: #275b8c;
}
.markdown-body a.footnote-backref::after,
.markdown-body a.footnote-ref::after {
  display: none !important;
}
.markdown-body sup a::after {
  display: none !important;
}
.markdown-body table {
  margin: 0px auto 10px;
  font-size: 12px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: solid 2px #c6c6c6;
}
.markdown-body table img {
  box-shadow: none !important;
}
.markdown-body thead {
  background: #f6f6f6;
  color: #000;
  text-align: left;
}
.markdown-body tr:nth-child(2n) {
  background-color: #fcfcfc;
}
.markdown-body th,
.markdown-body td {
  padding: 12px 7px;
  line-height: 24px;
}
.markdown-body td {
  min-width: 120px;
}
.markdown-body del {
  color: rgba(0, 0, 0, 0.6);
}
.markdown-body blockquote {
  position: relative;
  color: #666;
  padding: 5px 23px 1px;
  margin: 22px 0;
  border-left: 4px solid #cbcbcb;
  background-color: rgba(200, 200, 200, 0.12);
  transition: all 200ms ease-in-out;
}
.markdown-body blockquote:hover {
  border-color: #1976d2;
}
.markdown-body blockquote::before,
.markdown-body blockquote::after {
  position: absolute;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  color: #cbcbcb;
  opacity: 0.6;
}
.markdown-body blockquote::before {
  content: '“';
  top: 4px;
  left: 6px;
}
.markdown-body blockquote::after {
  content: '”';
  right: 8px;
  bottom: -8px;
}
.markdown-body blockquote > p {
  margin: 10px 0;
}
.markdown-body blockquote blockquote {
  margin: 10px 0;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 28px;
}
.markdown-body ol li,
.markdown-body ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.markdown-body ol li .task-list-item,
.markdown-body ul li .task-list-item {
  list-style: none;
}
.markdown-body ol li .task-list-item ul,
.markdown-body ol li .task-list-item ol,
.markdown-body ul li .task-list-item ul,
.markdown-body ul li .task-list-item ol {
  margin-top: 0;
}
.markdown-body ol ul,
.markdown-body ol ol,
.markdown-body ul ul,
.markdown-body ul ol {
  margin-top: 3px;
}
.markdown-body ol li {
  padding-left: 6px;
}
.markdown-body details {
  border: none;
  outline: none;
  border-left: 4px solid #1976d2;
  padding-left: 10px;
  margin-left: 4px;
}
.markdown-body details summary {
  cursor: pointer;
  border: none;
  outline: none;
  background: white;
  margin: 0px -17px;
}
.markdown-body details summary:hover::-webkit-details-marker {
  color: #1976d2;
}
@media (max-width: 720px) {
  .markdown-body h1 {
    font-size: 24px;
  }
  .markdown-body h2 {
    font-size: 20px;
  }
  .markdown-body h3 {
    font-size: 18px;
  }
}
