@charset "UTF-8";
.markdown-body {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  color: #36ace1;
  background-image: linear-gradient(
      90deg,
      rgba(217, 234, 251, 0.25) 3%,
      rgba(0, 0, 0, 0) 3%
    ),
    linear-gradient(360deg, rgba(217, 234, 251, 0.25) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
  padding: 0 12px;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #36ace1;
}
.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h3::before,
.markdown-body h4::before,
.markdown-body h5::before,
.markdown-body h6::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAF8UlEQVRIS71Wa2wUVRT+7r0zu9t2t/RBaSioPCpYbIUfaEIQUogSAwZDAlUSGwgg/CBATExMCJH1D2hIfOEjFEUEhViCgBgIUCH44OkjPAMGBVqhpUCfW3Zn5z7MuQOE0hYxMdxJdmd25s53vnO+851leMCLPWA8/CfA2TsvL8n7q+nTFfNLG+4VqInHOeJLDQMzdz/3r4DGGDb9lxu+aPcE7U61JHDMDePcuv0O21ShugOefqDdtBie3Dk6K/O+Ab+qOjJiz7Ahv6c8hbDDwRiQlgYGDOcaWyEcjg8On+j71IpJndjGt9XO+jM7+pkywNvbazIfercieSdoJ4bE5sWjyZqMpDdeaQNXMNC34ME3LV8B56+1w3AOgk+EXe/Ub6uiLB6XdH/G/mYjeBCcFwnt3zQqWt4t4NjjnhzQ1CGkBhwOCMFAB71U0qsYgRlwBtQ1tiEJAy44OBdQUmFK3aWS06NLT+ukZAQoKCCjsfbDmk6p78RwX3ncWffmIj8U4kh6GpEwh+9rGy23LDU4GBrrm9DsuDYIGMAYIC/EUNQ7Cq1hn+WM2TI8f+jEyCmvjfn1FssuojHx6tDkyZOaCzr8TNpASzDAk8amlRIrEylcSGsYrcGIstIYWhgDDIM2BiGH3ywFkGAC1U9n38bpVqWGdk6r4HMWrZZaG1D5KLn0qYyBEAKnG1otAxLR8L7Z9nfP13CJHQ/ST4vK8sVHe8JsU0U6uO5hlexo8PI7vNDQomwoBRAwpSmtgJAAztS3QLsOsmBQlBtFJMQhlbbPUBBUR7o2hqHVddLbRsfCPQJ+u3TPw8uGl1yklAlHIJZKo3//XEhlLCtifPFyM7xwCI/lZ8IKTTBbS7pPLIggZZsSQ+zXbT4UYSsnet3UMM5HPT5LGbrDGYQroClyT2Jwnyj9aN949e8mDCwuRFoqKxRHUJ21BSDRELuQYGhvbMVV32Dp2RuxcfHSRBfAYTsbU9nJdFj5EiLkglHkRInC1xoxKbH9hQJIaTDvxxTCUddWl4wg0dCCtqSPDmoVx4Eitpxh64ZtsT6b5ie6pPRkfF90TllxOzEwmipMKRRgHODGgCuJkqIcvDdC2BZ5Y+tlHHMzkAKghbAxcQqQDiKrFBxhqg5MHTivS1tQ+sdsvaQl5Yd6yfdRXNQLsQwXnq/AQFLXEIIjzBSuNaaR0SuEtkQKl9IKjAsbJaWfzo1USDsM6zceDJfeVGgnhhN2N7YOyo5kJz1pa2AbgfrO1gRwXW6vSRQNtddR+EhvKGmseskgTtY2Q7kucYWWgToPHzyUyXry0iXfnBtfl5f/PaWPvPNW/zkOAQegJHltFE5dSaCskHqPVEnqpMAMEgkPtR1pKxyh/N0/vTToubtH1G3RmLjhM8ubKXfWB2mRa9ySOaWS2uT8lTZ0cI6I52Ngv7zAbW9mQVm1cpytu441P38XeXTlQu+e46nyh+bjLkMZRU0MCYTCJWZSG1y7cBWNURpxBlxqFBfEwGnGGhaYPSNwhpSv4DK+/vPynBk9MqRIiOWs8a2WJTm9a+cgh6SaMIMz9W1WjYHHMtv0wSmZdWB9gdsya/rcYVg7JoffCdqlD6ceTpiY59tM0PhJp5WNvra+BQkejCMyBarr8KKYDcZi8sDaCDKYFIGRk+FnSVXzyTO9JxBwF8DLc1dlLn65ooNEYN0fBsu21fTvL6PXnhxXlnLIqqhYYBian4lQ2Lk9ogiALsimiLC1QYfhlV1Hnxh7JfcMqxrpd7U2GFa5t9nOd7Kr+kg4uWvnCpromlJeXlq3Os3ZLOlrZBmNQf1ybVqpxhbA7mRIOCy1+esDOWhIyDv/+3Q7LRbsqH+rKRJ+nba+/+WW7II1s9vvVBuNr7KNF1WUM1bSt5f1Vq01jUVkKfnx8uoti3Or5rbd9782M61azJz/rFywYU/OyKqK1p5G2MS1Z18tGFDwTkvIxcK9RwaMP3a9/tbc62lPj/Nw5B9ey9Ehy/MY4oEqelgNleuyCgdXJlmc3fO5Ll56r5f+n/f+AWFf9jvBgaHpAAAAAElFTkSuQmCC);
}
.markdown-body h1 {
  position: relative;
  font-size: 30px;
  padding: 12px 38px;
  margin: 30px 0;
}
.markdown-body h1::before {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}
.markdown-body h2 {
  position: relative;
  font-size: 24px;
  padding: 12px 36px;
  margin: 28px 0;
}
.markdown-body h2::before {
  width: 28px;
  height: 28px;
  background-size: 28px 28px;
}
.markdown-body h3 {
  position: relative;
  font-size: 18px;
  padding: 4px 32px;
  margin: 26px 0;
}
.markdown-body h3::before {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.markdown-body h4 {
  position: relative;
  padding: 4px 28px;
  font-size: 16px;
  margin: 22px 0;
}
.markdown-body h4::before {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.markdown-body h5 {
  position: relative;
  padding: 4px 26px;
  font-size: 15px;
  margin: 20px 0;
}
.markdown-body h5::before {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
}
.markdown-body h6 {
  position: relative;
  padding: 4px 22px;
  font-size: 14px;
  margin: 16px 0;
}
.markdown-body h6::before {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
.markdown-body p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
.markdown-body img {
  max-width: 100%;
}
.markdown-body hr {
  position: relative;
  width: 98%;
  height: 1px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
  background-image: linear-gradient(to right, #36ace1, #dff0fe, #36ace1);
  overflow: visible;
}
.markdown-body hr::after {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: inline-block;
  width: 50px;
  height: 24px;
  background: white;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAEgElEQVRIS72Va0xbZRjH/z2FcimbchEQFDYRCIRAAWFQ2MaCXBwmUxYDLGGEcRFkH9wmk04zG0Bo2dwNIisERANqhjqdEmhd4nRbuwpsXDYWLLoRgeG4Chu9QHvMOQ0dpTAKH3y/tDnv8/5/z/Oc//scBv6nxdgoJ14gVYPEuITHdTdHY12gRIH0T0KljlqwthqUFHGtzAEsxqwLtPvkdc+FeeI3BgMeAMEhdOqR1mM7xswBrgmKE8pfIUhtm7fbZsft/i7wc98MtrUFxmbU6ByYgFwxjtFp5Q+WpF1mCy9wajXoqqD4E91saOf603e+5B7t99xTkyZJEiKJAl2DE9Xio1HvrBS8IuhVwVUP503swdJ9QWAw1izaoDs6pQT/655BMS9yy3KYiUoM/7adu7NmtnQfx5zWm8Q8Ui3gyGcddyU8rv/STRNQouDGP5/mhTubX4dpPv3DMzh1qS9LwuPWr+i63WVyn5QYj/4d/i4bqmbpoQ+auvBlQYghX6PE4wTSOzV5EUYlb5Q4MDqLk9/3cMRF27spDSNQamUnWZ4ebNB+OKNCyYVeFCZ5wZ5tiePN/UiP2YoQL0cUX+iFt4sNUiLdcaVvHJLecQiWnKVE8s5LvxAXRWeYgHLre0hecgAN0sxr0XBZgbJUP6OiLnaM4ivZCBrzOWBZEIY9rY5E8pl2nM0KMzzLq5aPiXmRzgbQm2VyR8KGGK/ICAFB6IusbvsDwhRf+n/jtSHc/nsGgjR9V6/1TyLa1wGU+FtnO1CbHQTHTSzIFJOYJ1jwcGLTccMTcyhp7oW4KFJ/SV4/IScrc55kQj07WNuOn94Lpw8kCm/Qv3W5HLjbWxsyfuNUO1TzWjAJBloKt2FBS+Jz6ShiA12NupBdLWugQcmn28lPMkONNql3U5cTSD9Lq+qEUqPFt++G0aKL687wDAqb+pAU7IKCuK2493AOPQ9UCNpib6T1tkg+RZ9KKJcNn8sJc1vac8o16jklLWLuOiDqwvHUIKPw7vtTON+iCDKkl/Cx9FeSYET5um1mHt6jN0Dz9ftwYjORudNjTdaBmi7kxvvA1d6Gjs0X/Q5Sp3tMEMSHre9HnDEZAPFCWUNVdliGJVPvqEP1Hbh4yPj9LadSY6fu6gPsCX+B3mq7NYLv2od8fj4aoViMNQGFijos/XVMTXGavgUisQIle71hwVx9KFEutLVjw8GORTuxoEbeJS7iPrmQyy/sIj2hQpqYHO7ZGs95nnZS4y8K8Pfqrb58UZ+IlKqbqNgfQm8da+pC9xjLqo8foFkau2qaCeXSyvzXfA9SDrp1bxJ/DU/jSJKXEWdBR2J/9U0UpwXTFZ/+8S76h/71FvO4A8sTeuqQThDKalOiPLN3BbhiYlaNsm964elkCztrC4xMqeDqYIus2JdB3cbS5l4MTag44qJt9GxbF4gKThRKY59lW13+KCUQ1pZMEwHKviKx4pFSqXzxCn/X9Gr2NO+zw+cTiTbxmUyCqH3GlsWg2kRNhOnHmhlrFkIvHTZt1borWvMCmRnwH4usn58STiycAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
}
.markdown-body del {
  color: #36ace1;
}
.markdown-body code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #282c34;
  color: #4ec9b0;
  padding: 0.24em 0.46em;
  margin: 0 4px;
}
.markdown-body pre {
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  line-height: 1.75;
}

.markdown-body pre > code {
  font-size: 12px;
  word-break: normal;
  display: block;
  flex: none;
  padding: 0 12px 12px 12px;
}
.markdown-body a {
  text-decoration: none;
  color: #409eff;
  border-bottom: 1px solid #409eff;
}
.markdown-body a:hover,
.markdown-body a:active {
  color: #007bff;
  border-bottom: 1px solid #007bff;
}
.markdown-body table {
  display: inline-block !important;
  font-size: 12px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: solid 1px #f6f6f6;
}
.markdown-body thead {
  background: #f6f6f6;
  color: #000;
  text-align: left;
}
.markdown-body tr:nth-child(2n) {
  background-color: #fcfcfc;
}
.markdown-body th,
.markdown-body td {
  padding: 12px 7px;
  line-height: 24px;
}
.markdown-body td {
  min-width: 120px;
}
.markdown-body blockquote {
  position: relative;
  padding: 8px 26px;
  background-color: rgba(54, 172, 225, 0.75);
  margin: 16px 0;
  border-left: 4px solid #409eff;
  border-radius: 5px;
}
.markdown-body blockquote::before {
  content: '❝';
  top: 10px;
  left: 8px;
  color: #409eff;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  position: absolute;
  opacity: 0.7;
}
.markdown-body blockquote::after {
  content: '❞';
  font-size: 20px;
  position: absolute;
  right: 8px;
  bottom: 0;
  color: #409eff;
  opacity: 0.7;
}
.markdown-body blockquote > p {
  color: #fff;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 28px;
}
.markdown-body ol li,
.markdown-body ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.markdown-body ol li .task-list-item,
.markdown-body ul li .task-list-item {
  list-style: none;
}
.markdown-body ol li .task-list-item ul,
.markdown-body ol li .task-list-item ol,
.markdown-body ul li .task-list-item ul,
.markdown-body ul li .task-list-item ol {
  margin-top: 0;
}
.markdown-body ol ul,
.markdown-body ol ol,
.markdown-body ul ul,
.markdown-body ul ol {
  margin-top: 3px;
}
.markdown-body ol li {
  padding-left: 6px;
}
@media (max-width: 720px) {
  .markdown-body h1 {
    font-size: 24px;
  }
  .markdown-body h2 {
    font-size: 20px;
  }
  .markdown-body h3 {
    font-size: 18px;
  }
}
