.markdown-body {
  word-break: break-word;
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #2c3e50;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 1.5;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 8px;
  padding-bottom: 5px;
}
.markdown-body h1 ::before,
.markdown-body h2 ::before,
.markdown-body h3 ::before,
.markdown-body h4 ::before,
.markdown-body h5 ::before,
.markdown-body h6 ::before {
  content: '#';
  display: inline-block;
  color: #3eaf7c;
  padding-right: 0.23em;
}
.markdown-body h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.markdown-body h2 {
  padding-bottom: 8px;
  margin-top: 50px;
  font-size: 24px;
  border-bottom: 1px solid #eaecef;
}
.markdown-body h3 {
  font-size: 18px;
  padding-bottom: 0;
}
.markdown-body h4 {
  font-size: 16px;
}
.markdown-body h5 {
  font-size: 15px;
}
.markdown-body h6 {
  margin-top: 5px;
}
.markdown-body p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
.markdown-body img {
  max-width: 100%;
}
.markdown-body hr {
  border-top: 1px solid #eaecef;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

.markdown-body p code,
.markdown-body li code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  word-break: break-word;
  border-radius: 3px;
  overflow-x: auto;
  font-weight: 400;
  background-color: rgba(27, 31, 35, 0.05);
  color: #476582;
  margin: 0;
  font-size: 0.85em;
  border-radius: 3px;
  font-size: 0.87em;
  padding: 0.165em 0.5em;
}
.markdown-body pre {
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  line-height: 1.75;
}

.markdown-body pre > code {
  min-width: 100%;
  font-size: 12px;
  word-break: normal;
  display: block;
  flex: none;
  padding: 12px;
}
.markdown-body a,
.link {
  text-decoration: none;
  color: #3eaf7c;
  font-weight: 500;
}
.markdown-body a:hover,
.markdown-body a:active {
  color: #42b983;
  border-bottom: 1px solid #42b983;
}
.markdown-body table {
  display: inline-block !important;
  font-size: 14px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  margin: 16px 0;
  border-collapse: collapse;
}
.markdown-body thead {
  background: #3eaf7c;
  color: #fff;
  text-align: left;
}
.markdown-body tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.markdown-body th,
.markdown-body td {
  border: 1px solid #dfe2e5;
  padding: 10px 16px;
  line-height: 24px;
  background: inherit;
}
.markdown-body td {
  min-width: 120px;
}
.markdown-body blockquote {
  font-size: 14px;
  padding: 6px 23px;
  margin: 22px 0;
  border-left: 6px solid #42b983;
  background-color: #f3f5f7;
  font-weight: 400;
}
.markdown-body blockquote::after {
  display: block;
  content: '';
}
.markdown-body blockquote > p {
  margin: 10px 0;
}
.markdown-body p,
.markdown-body ul,
.markdown-body ol {
  line-height: 1.7;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 28px;
}
.markdown-body ol li,
.markdown-body ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.markdown-body ol li .task-list-item,
.markdown-body ul li .task-list-item {
  list-style: none;
}
.markdown-body ol li .task-list-item ul,
.markdown-body ol li .task-list-item ol,
.markdown-body ul li .task-list-item ul,
.markdown-body ul li .task-list-item ol {
  margin-top: 0;
}
.markdown-body ol ul,
.markdown-body ol ol,
.markdown-body ul ul,
.markdown-body ul ol {
  margin-top: 3px;
}
.markdown-body ol li {
  padding-left: 6px;
}
.markdown-body .contains-task-list {
  padding-left: 0;
}
.markdown-body .task-list-item {
  list-style: none;
}
@media (max-width: 720px) {
  .markdown-body h1 {
    font-size: 24px;
  }
  .markdown-body h2 {
    font-size: 20px;
  }
  .markdown-body h3 {
    font-size: 18px;
  }
}
