/* --- code --- */
.markdown-body ul.contains-task-list {
  padding-left: 0;
}

.markdown-body ul.contains-task-list li.task-list-item {
  list-style-type: none;
}
.code__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.code__tools_right {
  width: 75px;
}
.code__tools {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 75px;
}
.markdown-body .code__header + pre code {
  padding-top: 0;
}

.code__circle {
  display: inline-block;
  align-items: center;
  width: 9px;
  height: 9px;
  margin-right: 8px;
  padding: 1px;
  border-radius: 50%;
}
.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
.qrcode-block {
  border: 1px solid #efefef;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.qrcode-block img {
  display: block;
}
.qrcode-box {
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  color: #718096;
}

.qrcode-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-break: break-all;
  font-size: 14px;
  font-weight: 600;
  width: calc(100% - 96px);
  color: #718096;
}

.qrcode-url {
  font-weight: normal;
  font-family: ptima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.qrcode-block .qrcode-img img {
  border: 0;
}
.qrcode-img {
  width: 90px;
  height: 90px;
  margin-left: 4px;
  flex-shrink: 0;
}
.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei',
    Arial, sans-serif;
}

/*表格*/
.markdown-body table {
  display: table;
  text-align: left;
  width: auto;
}

/* 表格最小列宽4个汉字 */
.markdown-body table tr th:nth-of-type(n),
.markdown-body table tr td:nth-of-type(n) {
  min-width: 85px;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ccc;
}
.markdown-body figcaption {
  text-align: center;
  font-size: 14px;
}

.markdown-body .footnote-ref {
  font-size: 75%;
  vertical-align: 4px;
  padding-left: 4px;
  font-weight: bold;
}

.markdown-body .footnote-item {
  display: flex;
  font-size: 14px;
}

.markdown-body .footnote-num {
  display: inline;
  width: 10%; /*神奇，50px就不可以*/
  background: none;
  font-size: 80%;
  opacity: 0.6;
  line-height: 26px;
  font-family: ptima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.markdown-body .footnote-item .footnote-content {
  display: inline;
  font-size: 14px;
  width: 90%;
  padding: 0px;
  margin: 0;
  line-height: 26px;
  word-break: break-all;
}

.markdown-body code {
  max-width: unset !important;
}

.markdown-body pre[class*='language-'] {
  padding: 0;
}
pre {
  overflow-x: auto;
}

/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */
.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

.solarizedlight .highlight-line {
  background-color: rgba(255, 193, 7, 0.5);
}
.coy .highlight-line,
.default .highlight-line {
  background-color: #fff8c5;
}
.materialLight .highlight-line {
  background-color: rgba(55, 65, 81, 0.2); /* Set highlight bg color */
}
