/* --- code --- */
.code__card {
  margin: 12px 0;
  background-color: #272822;
  border-radius: 7px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 0 30px 1px rgb(0 0 0 / 15%);
}

.code__tools {
  display: flex;
  align-items: center;
  padding: 12px;
}

.code__circle {
  display: inline-block;
  align-items: center;
  width: 9px;
  height: 9px;
  margin-right: 8px;
  padding: 1px;
  border-radius: 50%;
}
.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
.inserted {
  background-color: rgba(45, 212, 191, 0.15);
  margin: 0 -12px;
  padding: 0 12px;
  display: block;
  min-width: calc(100% + 24px);
}
.inserted:before {
  content: '+';
}
.deleted {
  background-color: rgba(244, 63, 94, 0.15);
  margin: 0 -12px;
  padding: 0 12px;
  display: block;
  min-width: calc(100% + 24px);
  /* 拷贝到微信必须使用 span 标签，不然缩进会消失 */
}
.deleted:before {
  content: '-';
}

.qrcode-block {
  border: 1px solid #efefef;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.qrcode-block img {
  display: block;
}
.qrcode-box {
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  color: #718096;
}

.qrcode-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-break: break-all;
  font-size: 1rem;
  font-weight: 600;
  width: calc(100% - 96px);
  color: #718096;
}

.qrcode-img img {
  border: 0;
}
.qrcode-img {
  width: 90px;
  height: 90px;
  margin-left: 4px;
  flex-shrink: 0;
}
.markdown-body {
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.markdown-body th,
.markdown-body td {
  border: 1px solid #ccc;
}
.markdown-body figcaption {
  text-align: center;
  font-size: 14px;
}

.markdown-body .footnote-ref {
  font-size: 75%;
  vertical-align: 4px;
  padding-left: 4px;
  font-weight: bold;
}

.markdown-body .footnote-item {
  display: flex;
  font-size: 14px;
}

.markdown-body .footnote-num {
  display: inline;
  width: 10%; /*神奇，50px就不可以*/
  background: none;
  font-size: 80%;
  opacity: 0.6;
  line-height: 26px;
  font-family: ptima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.markdown-body .footnote-item .footnote-content {
  display: inline;
  font-size: 14px;
  width: 90%;
  padding: 0px;
  margin: 0;
  line-height: 26px;
  word-break: break-all;
}
