.slidev-layout {
  width: 100%;
  font-size: 1.1rem;
  line-height: 1;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.slidev-layout pre,
.slidev-layout code {
  user-select: text;
}
.slidev-layout h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  margin-left: -0.05em;
}
.slidev-layout h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.slidev-layout h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.slidev-layout h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.slidev-layout h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.slidev-layout h6 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: -0.05em;
  padding-top: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.slidev-layout h6:not(.opacity-100) {
  opacity: 0.4;
}
.slidev-layout p {
  opacity: 0.4;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.slidev-layout ul {
  list-style: square;
}
.slidev-layout ol {
  list-style: decimal;
}
.slidev-layout li {
  line-height: 1.8em;
  margin-left: 1.1em;
  padding-left: 0.2em;
}
.slidev-layout blockquote {
  border-radius: 0.25rem;
  border-left-width: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.slidev-layout blockquote > * {
  margin-top: 0px;
  margin-bottom: 0px;
}
.slidev-layout table {
  width: 100%;
}
.slidev-layout tr {
  border-color: rgba(156, 163, 175, 0.2);
  border-bottom-width: 1px;
}
.slidev-layout th {
  font-weight: 400;
  text-align: left;
}
.slidev-layout a {
  border-color: currentColor;
  border-style: dashed;
  border-bottom-width: 1px;
}
.slidev-layout a:hover {
  border-style: solid;
}
.slidev-layout td,
.slidev-layout th {
  padding: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.slidev-layout b,
.slidev-layout strong {
  font-weight: 600;
}
.slidev-layout kbd {
  border-color: rgba(156, 163, 175, 0.2);
  border-radius: 0.25rem;
  border-width: 1px;
  border-bottom-width: 2px;
  background-color: rgba(156, 163, 175, 0.05);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.slidev-layout h1 + p {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.slidev-layout p + h2,
.slidev-layout ul + h2,
.slidev-layout table + h2 {
  margin-top: 2.5rem;
}
.slidev-layout.cover,
.slidev-layout.intro {
  display: grid;
  height: 100%;
  align-items: center;
}
.slidev-layout.cover h1,
.slidev-layout.intro h1 {
  font-size: 3.75rem;
  line-height: 5rem;
}
.slidev-layout.fact {
  display: grid;
  height: 100%;
  text-align: center;
}
.slidev-layout.fact h1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}
.slidev-layout.fact h1 + p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
.slidev-layout.statement {
  display: grid;
  height: 100%;
  text-align: center;
}
.slidev-layout.statement h1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}
.slidev-layout.quote {
  display: grid;
  height: 100%;
}
.slidev-layout.quote h1 + p {
  margin-top: 0.5rem;
}
.slidev-layout.section h1 {
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 5rem;
}
